# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "fdaa930bde855ab7d9821c6c51375169"
name = "Section Hub"
application_url = "https://shopify-quiet-night-395.fly.dev"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-04"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_themes,write_products,write_themes"

[auth]
redirect_urls = [
  "https://shopify-quiet-night-395.fly.dev/auth/callback",
  "https://shopify-quiet-night-395.fly.dev/auth/shopify/callback"
]
